{% extends 'halls/base.html' %}

{% block content %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">What's your personal Hall of Fame?</h1>
        <p class="lead text-muted">
            You know what they are. They're your goto videos.You have a top 10 list and it's time
            to share them with the world. Click the button below to get started.
        </p>
        <p>
            <a href="{% url 'create_hall' %}" class="btn btn-primary">Create Your Hall of Fame</a>
        </p>
    </div>
</section>
<!--# Display Popular halls-->
<div class="container">
    <h1 class="text-center">Popular Hall of Fames</h1>
    {% for hall in popular_halls %}
        <h2><a href="{% url 'detail_hall' hall.id %}">{{ hall.title}}</a></h2>
        <div class="row">

            {% for video in hall.video_set.all %}
            <div class="col-md-4 mt-3">
                <div class="card mb-4 shadow-sm">
                    <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0"
                            allow="accelerometer autoplay encrypted-media gyroscope picture-in-picture"
                    allowfullscreen></iframe>
                    <div class="card-body">
                        <p class="card-text">
                            {{ video.title }}
                        </p>
                        # {{ video.id }}
                    </div>
                    <div class="form-inline">
                        <form method="post" action="api/like_btn/" id="form-{{ video.id }}">
                            {% csrf_token %}
                            <input type="hidden" id="video-{{ video.id }}" class="video" name="video"
                                   value="{{ video.id }}">
                            <input type="hidden" id="liker-{{ video.id }}" name="liker" value="{{ user.id }}">
                            <button class="btn-link"><i class="fas fa-heart"></i></button>
                            <span class="like_count">{{ video.liker.count }}</span>
                        </form>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<br>
<!--Display Recent halls-->
<div class="container">
    <h1 class="text-center">Recent Hall of Fames</h1>
    {% for hall in recent_halls %}
        <h2><a href="{% url 'detail_hall' hall.id %}">{{ hall.title}}</a></h2>
        <div class="row">

            {% for video in hall.video_set.all %}
            <div class="col-md-4 mt-3">
                <div class="card mb-4 shadow-sm">
                    <iframe width="100%" height="225" src="https://www.youtube.com/embed/{{ video.youtube_id }}" frameborder="0"
                            allow="accelerometer autoplay encrypted-media gyroscope picture-in-picture"
                    allowfullscreen></iframe>
                    <div class="card-body">
                        <p class="card-text">
                            {{ video.title }}
                        </p>
                    </div>
                    <div class="form-inline">
                        <form method="post" action="api/like_btn/">
                            {% csrf_token %}
                            <input type="hidden" class="video" name="video"
                                   value="{{ video.id }}">
                            <input type="hidden" name="liker" value="{{ user.id }}">
                            <button class="btn-link"><i class="fas fa-heart"></i></button>
                            <span class="like_count">{{ video.liker.count }}</span>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
<script>
    $("form").submit( function(event) {
        event.preventDefault();
        let like = $(this).children('span');
        let video_id = $(this).children('.video');
        let form = $(this);
        $.ajax({
          url: form.prop("action"),
          method: form.prop("method"),
          data: form.serialize(),
          timeout: 10000,
          dataType: "text",
            context: {
              like: like,
                video_id: video_id,
            },
        })
        .done( function(data) {
            console.log(data);
            let like = this.like;
            let video_id = this.video_id.val();
            console.log(video_id);
            $.get("api/like_btn/", {pk: video_id},function (data, status) {
                let counter_num = data.length;
                like.text(counter_num);
                console.log("Data: " + data[0] + "\nStatus: " + status);
            })
        })
      });
</script>
{% endblock %}
